* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    border: 1px solid #0C1927;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 25%;
}

.user {
    color: #022263;
    font-size: 20px;
    margin: 20px;
}

.post_title {
    color: #d64374;
    font-size: 25px;
    margin-bottom: 20px;
}

.post_body {
    max-width: 100%;
    margin-bottom: 20px;
}

.post_name {
    color: #35444F;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.post_email {
    color: #5B6469;
    font-size: 10px;
    margin-bottom: 20px;
}




