@use "../variables";
@use "../mixins";

.header {
  max-width: variables.$S;
  display: flex;
  flex-direction: column;
  @include mixins.center;
  position: relative;

  &__mobile-menu {
    position: absolute;
    border: none;
    cursor: pointer;
    margin-top: 23px;
    right: 0;
    svg {
      float: right;
    }

    &_close,
    &_open {
      display: none;
    }
  }

  &__navigation {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: variables.$background-menu;
    min-width: 182px;

    .header__navigation-link {
      display: flex;
      text-transform: uppercase;
      color: variables.$title-color;
      padding: 12px 16px;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;

      &:hover {
        background-color: variables.$hover-fon;
      }

      &:nth-child(1) {
        color: variables.$home-color;
      }
    }
  }

  &__img {
    margin-top: 83px;
  }
}
.hide {
  display: none;
}

@media (min-width: variables.$M) {

  .header {
    max-width: variables.$M;
    position: static;

    &__mobile-menu {
      display: none;
    }

    &__navigation {
      display: flex;
      align-content: center;
      align-items: center;
      position: static;
      background-color: variables.$white;
      margin-top: 41px;
      justify-content: center;
      flex-wrap: nowrap;

    }

    .header__navigation-link {
      flex-direction: row;
      &:hover {
        background-color: variables.$white;
      }
    }
    &__img {
      margin-top: 43px;
    }
  }
  .active {
    display: block;
  }
}

@media (min-width: variables.$L){
  .header {
    max-width: variables.$L;

    &__mobile-menu {
      display: none;
    }

    &__navigation {
      display: flex;
      align-content: center;
      align-items: center;
      position: static;
      background-color: variables.$white;
      margin-top: 41px;
      justify-content: center;
      flex-wrap: nowrap;
    }

    .header__navigation-link {
      flex-direction: row;
      margin-right: 68px;
      &:hover {
        background-color: variables.$white;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
}




