@use "../mixins";
@use "../variables";

.main {
  max-width: variables.$S;
  @include mixins.center;

  &__title {
    @include mixins.title;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 28px;
  }

  &__grid-item {
    margin-bottom: 28px;
  }
}


.grid__item-wrapper {

  &_title {
    font-weight: 700;
    line-height: 30px;
    color: variables.$title-color;
    margin-top: 5px;
  }

  &_menu {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: variables.$comments-color;
  }

  &_content {
    display: none;
  }
}

.active {
  display: block;
}


@media (min-width: variables.$M) {

  .main {
    max-width: variables.$M;

    &__title {
      font-size: 16px;
      margin-top: 56px;
    }

    &__grid {
      display: flex;
      flex-direction: column;
    }
  }

  .main__grid-item {
    display: flex;
    max-width: 600px;
    margin-bottom: 32px;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
  }

  .grid__item-wrapper {
    margin-left: 21px;

    &_title {
      font-size: 16px;
    }

    &_menu {
      font-size: 12px;
    }

    &_content {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: variables.$text-color;
    }
  }
}

@media (min-width: variables.$L) {
  .main {
    max-width: variables.$L;

    &__title {
      margin-top: 66px;
    }

    &__grid {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows:  1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 32px;
      grid-column-gap: 25px;
      align-items: stretch;

      &-item {
        flex-wrap: nowrap;
        max-width: 100%;

        &-img {
          float: left;
          margin-right: 21px;
        }
        &-wrapper_content {
          display: block;
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: variables.$text-color;
        }
      }

    }
  }

}




