/* common style*/
.vision-page {
    font-family: Montserrat, "Courier New", serif;
    font-style: normal;
    background: rgba(0, 0, 0, 0.0001);
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.nav-list {
    margin: 25.5px 258px 25.5px 330px;
}
.nav-list-item {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.nav-list-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
    margin-right: 72px;
}
/*main style*/
.imagine-section {
    width: 100%;
}
.text {
    text-align: center;
}
.text-title {
    margin: 49px 253px 38px 253px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}
.text-part-one {
    margin: 38px 67.5px 28px 67.5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}
.text-part-two {
    margin: 28px 67.5px 66px 67.5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}
/*button style*/
.button-get_started {
    margin: 66px 544.5px 42px 544.5px;
    padding: 18px 43px 18px 43px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
/*footer style*/
.footer {
    margin: 40px 105px 29px 713px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}