.modalContainer {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000069;
}
.modal  {
  padding: 60px;
  background-color: blue;
  width: 600px;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.modal:hover  {
  background-color: navajowhite;
  color: blue;
}
